<div class="container">
  <div class="calendar-header">
    <div class="button-group">
      <button mat-mini-fab mwlCalendarPreviousView color="primary" matTooltip="Előző"
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
      ><mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-mini-fab mwlCalendarNextView color="primary" matTooltip="Következő"
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
      ><mat-icon>chevron_right</mat-icon>
      </button>
      <button mat-mini-fab mwlCalendarToday color="primary" matTooltip="Ugrás a mai napra"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
      ><mat-icon>today</mat-icon>
      </button>
    </div>

    <div>
      <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'hu' }}</h2>
    </div>

        <div class="button-group">
      <button mat-flat-button color="primary"
              (click)="setView(CalendarView.Month)"
              [disabled]="view === CalendarView.Month"
      >Hónap
      </button>
      <button mat-flat-button color="primary"
              (click)="setView(CalendarView.Week)"
              [disabled]="view === CalendarView.Week"

      >Hét
      </button>

      <button mat-flat-button color="primary"
              (click)="setView(CalendarView.Day)"
              [disabled]="view === CalendarView.Day"
      >Nap
      </button>
    </div>
  </div>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>
