// Include material core styles.
@use '@angular/material' as mat;
@use './app-theme';

$theme: mat.define-theme((
        color: (
                theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
        )
));

@include mat.core();
@include app-theme.theme($theme);

@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
