@use '@angular/material' as mat;

@mixin theme($theme) {
  app-header {
    .mat-toolbar {
      background-color: mat.get-theme-color($theme, primary-container);
      color: mat.get-theme-color($theme, primary);

      .navbar-brand {
        color: mat.get-theme-color($theme, primary);

        :visited {
          color: mat.get-theme-color($theme, primary);
        }

        :active {
          color: mat.get-theme-color($theme, primary);
        }
      }

      .mat-mdc-button, .mat-mdc-icon-button {
        color: mat.get-theme-color($theme, primary);
      }
    }
  }
}
