<mat-toolbar>
  <button mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <a [routerLink]="['/']" matTooltip="Home" color="primary">
    JamTime
  </a>

  <span class="navbar-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="notificationMenu" *ngIf="authService.isAuthenticated()"
          id="notification-button">
    <mat-icon matBadge="2">notifications</mat-icon>
  </button>

  <mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
    <a mat-menu-item>
      <span>You have new tasks</span>
    </a>
    <a mat-menu-item>
      <span>You have a new message</span>
    </a>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="userMenu" [matTooltip]="authService.emailAddress()"
          *ngIf="authService.isAuthenticated()">
    <mat-icon>person</mat-icon>
    {{ authService.userName() }}
  </button>

  <div id="googleLoginButton" [ngStyle]="{'display': authService.isAuthenticated() ? 'none' : 'inline-block'}"></div>

  <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
    <a mat-menu-item [routerLink]="['/account/profile']" *ngIf="authService.isAuthenticated()">
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </a>

    <a mat-menu-item *ngIf="authService.isAuthenticated()" (click)="authService.signOut()">
      <mat-icon>logout</mat-icon>
      <span>Kilépés</span>
    </a>
  </mat-menu>
</mat-toolbar>
