.mat-toolbar {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.3);

  a {
    text-decoration: none;
  }

  button:first-of-type {
    margin-right: 16px;
  }

  button:last-of-type {
    margin-left: 10px;
  }
}

.navbar-spacer {
  flex: 1 1 auto;
}
