<mat-nav-list [class.is-collapsed]="isCollapsed()">

  @for (item of navigationMenuItems; track item) {
    <h4 mat-subheader [ngClass]="isCollapsed() ? 'hidden' : 'visible'">{{ item.text }}</h4>
    @for (child of item.children; track child) {
      @if (isCollapsed()) {
        <a mat-list-item [routerLink]="[child.routerLink]" [matTooltip]="item.text + ' - ' + child.text" [matTooltipPosition]="'right'">
          <mat-icon matListItemIcon>
            {{ child.icon }}
          </mat-icon>
        </a>
      } @else {
        <a mat-list-item [routerLink]="[child.routerLink]">
          <mat-icon matListItemIcon>
            {{ child.icon }}
          </mat-icon>
          {{ child.text }}
        </a>
      }
    }
  }

</mat-nav-list>
