<mat-nav-list>
  <h3 mat-subheader>Foglalások</h3>
  <a mat-list-item [routerLink]="['/overview']">
    <mat-icon matListItemIcon>
      calendar_month
    </mat-icon>
    Áttekintés
  </a>

  <a mat-list-item [routerLink]="['/dashboard']">
    <mat-icon matListItemIcon>
      looks_two
    </mat-icon>
    <div> Új létrehozás</div>
  </a>

  <a mat-list-item [routerLink]="['/dashboard']">
    <mat-icon matListItemIcon>
      looks_3
    </mat-icon>
    <div> Keresés</div>
  </a>

  <h3 mat-subheader>Admin</h3>

  <a mat-list-item [routerLink]="['/icons']">
    <mat-icon matListItemIcon>
      looks_one
    </mat-icon>
    <div> Menüpont-1</div>
  </a>

  <a mat-list-item [routerLink]="['/typography']">
    <mat-icon matListItemIcon>
      looks_two
    </mat-icon>
    <div> Menüpont-2</div>
  </a>

  <h3 mat-subheader>Infó</h3>

  <a mat-list-item [routerLink]="['/about']">
    <mat-icon matListItemIcon>
      info_outline
    </mat-icon>
    <div> About</div>
  </a>
</mat-nav-list>
