.input-wrapper {
  position: relative;
  display: inline-block;
}

input[type="text"] {
  padding: 8px;
  //background-color: var(--mat-sys-surface-variant);
}

.clear-button {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #999;
  display: none;
}

input[type="text"]:not(:placeholder-shown) + .clear-button {
  display: block;
}
