<h2 mat-dialog-title>Próbaterem {{ isEditMode ? 'módosítás' : 'létrehozás' }}</h2>

<div>
  <mat-dialog-content>
    <form [formGroup]="roomForm" class="form-container">
      <mat-form-field>
        <mat-label>Próbaterem neve</mat-label>
        <input matInput formControlName="name">
        <mat-error>Kötelező mező</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Helyszín</mat-label>
        <input matInput formControlName="place">
        <mat-error>Kötelező mező</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kapacitás</mat-label>
        <input matInput formControlName="capacity">
        <mat-error *ngIf="roomForm.controls['capacity'].hasError('required')">Kötelező mező</mat-error>
        <mat-error *ngIf="roomForm.controls['capacity'].hasError('min')">Minimum érték: 2</mat-error>
        <mat-error *ngIf="roomForm.controls['capacity'].hasError('max')">Maximum érték: 99</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button [disabled]="roomForm.invalid" (click)="onSave()">
      {{ isEditMode ? 'Módosítás' : 'Létrehozás' }}
    </button>
  </mat-dialog-actions>
</div>
