.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  border-right: 1px solid #c4c6d0;
  width: 200px;
}
